* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

#container {
    width: 75%;
    margin: auto;
    padding: 1rem;
}

#top {
    display: flex;
    justify-content: space-between;
}

#highscore {
    display: flex;
    align-items: baseline;
}

#logo_score {
    width: 1.5rem;
    height: 1.5rem;
}

#start_btn {
    box-shadow: 5px 5px 5px 0px rgba(10, 10,10,0.4);  
}

#start_btn:hover {
    cursor: pointer;
}

#main {
    text-align: center;
}

#main_card, #showNum_card, #interactiv_card, #results_card {
    margin: auto;
    /* width: 60%; */
    background-color: azure;
    box-shadow: 5px 5px 5px 0px rgba(0, 0,0,0.4);
}

#showNum_card {
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;
}

#main_card h1 {
    margin-bottom: 0.1rem;
}

#main_card h6 {
    margin-top: 0;
}

#appFace {
    width: 100%;
}
#interactiv_card { 
    width: 60%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0,0,0.4);
}

#userChoice {
    margin-top: 1rem;
    width: 40%;
}

#verify_btn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 30%;
}

#results_card {
    margin-top: 1.2rem;
    width: 30%;
    text-align: center;
    background-color: black;
    color: azure;
    padding: 0.5rem 0rem 0.5rem;
}